/* Import for global */
@use 'sass:map';
@use "sass:color";

@import './styles/normalize';
@import './styles/font';
@import './styles/variables';

body {
  font-size: $default-font-size;
}

/* components styles */
@import './components/style';

/* view styles */
@import './views/style';


/* tokens */
$header-max-width: 96rem;
$footer-max-width: 96rem;
$footer-height: $size-16;

/* style */

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;

}

.header {

  &-wrapper {    
    max-width: $header-max-width;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    
    > a {
      text-decoration: none;
    }
  }

  &-title {
    font-size: 1.5rem;
    text-decoration: none;
    color: map-get($map: $theme-colors, $key: 'primary');
    font-weight: $font-weight-bolder;
    text-transform: uppercase;
    margin-bottom: 0;

    position: relative;
    z-index: 1;
    transition: color 0.2s ease-in-out;
  }
  &-title:hover {
    color: map-get($map: $theme-colors, $key: 'light');
  }
  &-title:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: map-get($map: $theme-colors, $key: 'primary-darker');
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  &-title:hover::before {
    transform: scaleX(1);
    transform-origin: center left;
  }
}

.content {
  flex: 1;
  &-wrapper {
    display: flex;
    height: calc(100% - $footer-height);
    max-width: 960px;
    margin: 0 auto;
    // margin-right: $spacing-7;
    // margin-left:  $spacing-7; 
  }
}

.footer {
  &-wrapper {
    height: $footer-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    > p {
      margin-bottom: 0.5rem;
    }
  }
}

@media (min-width: $media-l) {
  .content {
    &-wrapper {
      max-width: 1200px;
    }
  }
}


