/* Import for global */
@use 'sass:map';
@import './styles/normalize';
@import './styles/font';
@import './styles/variables';

body {
  font-size: $default-font-size;
}

/* components styles */
@import './components/style';

/* view styles */
@import './views/style';


/* tokens */
$header-max-width: 96rem;
$footer-max-width: 96rem;
$footer-height: $size-16;

/* style */

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;

}

.header {

  &-wrapper {    
    max-width: $header-max-width;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    
    > a {
      text-decoration: none;
    }
  }

  &-title {
    font-size: 1.5rem;
    text-decoration: none;
    color: map-get($map: $theme-colors, $key: 'primary');
    font-weight: $font-weight-bolder;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.content {
  flex: 1;
  &-wrapper {
    display: flex;
    height: calc(100% - $footer-height);
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: $spacing-7;
    padding-left:  $spacing-7; 
  }
}

.footer {
  &-wrapper {
    height: $footer-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    > p {
      margin-bottom: 0.5rem;
    }
  }
}

@media (min-width: $media-l) {
  .content {
    &-wrapper {
      max-width: 1200px;
    }
  }
}


